.insert-section {
    display: flex;
    width: 100%;
    outline: 2px solid #ff6700;
    border-radius: 30px;
    overflow: hidden;
    .insert-input {
        width: 80%;
        display: block;
        background-color: transparent;
        border: 0;
        outline: none;
        padding: 10px 15px;
        font-size: 1rem;

        &::placeholder {
            text-align: center;
            color: #968579;
        }
    }

    .insert-btn {
        width: 20%;
        display: block;
        border: none;
        outline: none;
        padding: 10px 15px;
        font-size: 1rem;
        transition: 0.3s;

        &:hover {
            background-color: #ec8443 !important;
        }
    }
}

@media (max-width: 440px) {
    .insert-section {
        .insert-input {
            width: 70%;
        }

        .insert-btn {
            width: 30%;
        }
    }
}